In [15]:
import pandas as pd

In [2]:
file = "data/text.txt"
text = open(file, "r").read()
text_words = text.split()

In [7]:
def transcript(src_text):
    cmd = f'../src/espeak-ng "{src_text}" --ipa -v ca -q'
    output = str(os.popen(cmd).read())[:-1]
    output = output.replace("ɡ", "g")
    return output

In [8]:
transcription = transcript(text)
transcript_words = transcription.split()

In [11]:
print(len(text_words))
len(transcript_words)

277

283

In [26]:
test_file = "data/text_transtext_out.txt"
test_text = open(test_file, "r").read()
test_words = test_text.split()

In [28]:
df = pd.DataFrame([text_words, test_words, transcript_words]).T.rename(columns={"0": "text", "1": "ref", "2": "espeak"})

df

         0                     1       2
0    Entre               ˈen.tɾə  ˈɛntɾə
1      les                   ləz     ləz
2      més                  mˈes    mˈez
3       de                    tə      ðə
4      sis                  sˌiz    sˈiz
..     ...                   ...     ...
284   None                    lə    None
285   None      im.puɾ.tˈan.si.ə    None
286   None                     i    None
287   None                    əl    None
288   None  tə.zəm.bu.lu.pə.mˈen    None

[289 rows x 3 columns]

In [ ]:
df["eval"].value_counts(normalize=True)