In [1]:
import pandas as pd
import re

In [12]:
var = "ca-va"

In [13]:
file = "data/text.txt"
text = open(file, "r").read()

In [14]:
def transcript(src_text, var):
    cmd = f'../src/espeak-ng "{src_text}" --ipa -v {var} -q'
    output = str(os.popen(cmd).read())[:-1]
    output = output.replace("ɡ", "g")
    return output

In [15]:
transcription = transcript(text, var)
transcript_words = re.split('\W+', transcription)

In [17]:
text_vords = re.split('\W+', text)

In [21]:
df = pd.DataFrame([text_vords, transcript_words], index=['text', 'GS']).T

                text      GS
0              Entre  ˈentɾe
1                les     lez
2                més    mˈez
3                 de      ðe
4                sis    sˈiz
..               ...     ...
290      importància    None
291                i    None
292               el    None
293  desenvolupament    None
294                     None

[295 rows x 2 columns]

In [7]:
gs = 'data/text_gs_' + var + '.csv'
df = pd.read_csv(gs, sep="\t")

In [8]:
df["transcription"] = transcript_words[:len(df)]

In [9]:
df["eval"] = df["GS"] == df["transcription"]

In [10]:
df.loc[df['eval'] == False]

        text                GS   transcription   eval
22       una              ˈunə            ˈuna  False
65    aquest             əkˈed           əkˈɛd  False
101      una              ˈunə            ˈuna  False
106      NaN     komasˈɛtsˈenz   komasˌɛtsˌenz  False
107      NaN        βˌintinˈɔw      βˌintinˌɔw  False
139    amunt             əmˈun           əmˈuŋ  False
150      NaN    komasˈiŋksˈens  komasˌiŋksˌens  False
151      NaN        siŋkwˈantə      siŋkwˌantə  False
156      NaN  komakwˈatɾəsˈens       komasˌens  False
157      NaN      səʃˌantəðˈos    səʃˌantəðˌos  False
176   nostra           nˈɔstɾə         nˈɔstɾa  False
184      Una              ˈunə            ˈuna  False
206      una              ˈunə            ˈuna  False
213      una              ˈunə            ˈuna  False
232      una              ˈunə            ˈuna  False
248  aquells            əkˈeʎz          əkˈɛʎz  False
265      una              ˈunə            ˈuna  False

In [11]:
result = "results/results_" + var + ".csv"
df.to_csv(result, sep="\t")